language: r

before_install:
- curl -O https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.0.0/elasticsearch-2.0.0.deb && sudo dpkg -i --force-confnew elasticsearch-2.0.0.deb && sudo service elasticsearch start
- sleep 3
- sudo service elasticsearch status

r_github_packages:
- jimhester/covr

after_success:
- Rscript -e 'covr::codecov()'

notifications:
  email:
    on_success: change
    on_failure: change
  slack:
    secure: TyJn718GQw/lQE0v9QzTRMU2aXppaw65oyfUxfDa7KYjsgfqY0Hq+H3I71bUxBlnUNnW5Hsxm+b+YiaNDEZ2UmJJLr4X34r5mRRABy94nTs7YYLIE2ugtXb1BQArxaFo1HNBm1xNg+CCLWdvfQ6wR7PhT08CuGwwejAr97y5xTQ=
